In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load data
train_data = pd.read_csv("/Users/yuvraj/Desktop/portfolio project/Dataset/train_data.csv")
resource_data = pd.read_csv("/Users/yuvraj/Desktop/portfolio project/Dataset/resources.csv")

In [3]:
train_data.head(3)

,Unnamed: 0,id,teacher_id,teacher_prefix,school_state,project_submitted_datetime,project_grade_category,project_subject_categories,project_subject_subcategories,project_title,project_essay_1,project_essay_2,project_essay_3,project_essay_4,project_resource_summary,teacher_number_of_previously_posted_projects,project_is_approved
0,160221,p253737,c90749f5d961ff158d4b4d1e7dc665fc,Mrs.,IN,2016-12-05 13:43:57,Grades PreK-2,Literacy & Language,"ESL, Literacy",Educational Support for English Learners at Home,My students are English learners that are work...,"\""The limits of your language are the limits o...",NaN,NaN,My students need opportunities to practice beg...,0,0
1,140945,p258326,897464ce9ddc600bced1151f324dd63a,Mr.,FL,2016-10-25 09:22:10,Grades 6-8,"History & Civics, Health & Sports","Civics & Government, Team Sports",Wanted: Projector for Hungry Learners,Our students arrive to our school eager to lea...,The projector we need for our school is very c...,NaN,NaN,My students need a projector to help with view...,7,1
2,21895,p182444,3465aaf82da834c0582ebd0ef8040ca0,Ms.,AZ,2016-08-31 12:03:56,Grades 6-8,Health & Sports,"Health & Wellness, Team Sports",Soccer Equipment for AWESOME Middle School Stu...,"\r\n\""True champions aren't always the ones th...",The students on the campus come to school know...,NaN,NaN,"My students need shine guards, athletic socks,...",1,0

In [4]:
resource_data.head()

,id,description,quantity,price
0,p233245,LC652 - Lakeshore Double-Space Mobile Drying Rack,1,149.00
1,p069063,Bouncy Bands for Desks (Blue support pipes),3,14.95
2,p069063,Cory Stories: A Kid's Book About Living With Adhd,1,8.45
3,p069063,"Dixon Ticonderoga Wood-Cased #2 HB Pencils, Bo...",2,13.59
4,p069063,EDUCATIONAL INSIGHTS FLUORESCENT LIGHT FILTERS...,3,24.95

In [5]:
train_data.isna().sum()/len(train_data)

Unnamed: 0                                      0.000000
id                                              0.000000
teacher_id                                      0.000000
teacher_prefix                                  0.000027
school_state                                    0.000000
project_submitted_datetime                      0.000000
project_grade_category                          0.000000
project_subject_categories                      0.000000
project_subject_subcategories                   0.000000
project_title                                   0.000000
project_essay_1                                 0.000000
project_essay_2                                 0.000000
project_essay_3                                 0.965601
project_essay_4                                 0.965601
project_resource_summary                        0.000000
teacher_number_of_previously_posted_projects    0.000000
project_is_approved                             0.000000
dtype: float64

In [6]:
resource_data.isna().sum()/len(resource_data)

id             0.000000
description    0.000189
quantity       0.000000
price          0.000000
dtype: float64

In [7]:
merge_df = pd.merge(train_data, resource_data, on='id', how='inner')

In [8]:
merge_df.isna().sum()/len(merge_df)

Unnamed: 0                                      0.000000
id                                              0.000000
teacher_id                                      0.000000
teacher_prefix                                  0.000012
school_state                                    0.000000
project_submitted_datetime                      0.000000
project_grade_category                          0.000000
project_subject_categories                      0.000000
project_subject_subcategories                   0.000000
project_title                                   0.000000
project_essay_1                                 0.000000
project_essay_2                                 0.000000
project_essay_3                                 0.964110
project_essay_4                                 0.964110
project_resource_summary                        0.000000
teacher_number_of_previously_posted_projects    0.000000
project_is_approved                             0.000000
description                                     0.000182
quantity                                        0.000000
price                                           0.000000
dtype: float64

In [9]:
merge_df.head(2)

,Unnamed: 0,id,teacher_id,teacher_prefix,school_state,project_submitted_datetime,project_grade_category,project_subject_categories,project_subject_subcategories,project_title,project_essay_1,project_essay_2,project_essay_3,project_essay_4,project_resource_summary,teacher_number_of_previously_posted_projects,project_is_approved,description,quantity,price
0,160221,p253737,c90749f5d961ff158d4b4d1e7dc665fc,Mrs.,IN,2016-12-05 13:43:57,Grades PreK-2,Literacy & Language,"ESL, Literacy",Educational Support for English Learners at Home,My students are English learners that are work...,"\""The limits of your language are the limits o...",NaN,NaN,My students need opportunities to practice beg...,0,0,Alphabet Circus Rock and Learn DVD,3,14.59
1,160221,p253737,c90749f5d961ff158d4b4d1e7dc665fc,Mrs.,IN,2016-12-05 13:43:57,Grades PreK-2,Literacy & Language,"ESL, Literacy",Educational Support for English Learners at Home,My students are English learners that are work...,"\""The limits of your language are the limits o...",NaN,NaN,My students need opportunities to practice beg...,0,0,Getting Ready for Kindergarten DVD,3,14.59

In [10]:
merge_df.columns

Index(['Unnamed: 0', 'id', 'teacher_id', 'teacher_prefix', 'school_state',
       'project_submitted_datetime', 'project_grade_category',
       'project_subject_categories', 'project_subject_subcategories',
       'project_title', 'project_essay_1', 'project_essay_2',
       'project_essay_3', 'project_essay_4', 'project_resource_summary',
       'teacher_number_of_previously_posted_projects', 'project_is_approved',
       'description', 'quantity', 'price'],
      dtype='object')

In [11]:
merge_df.drop(columns=['Unnamed: 0', 'id', 'teacher_id',
'project_submitted_datetime', 'project_essay_3', 'project_essay_4',
'project_subject_subcategories','description','teacher_prefix'],inplace=True)

In [12]:
merge_df.isna().sum()/len(merge_df)

school_state                                    0.0
project_grade_category                          0.0
project_subject_categories                      0.0
project_title                                   0.0
project_essay_1                                 0.0
project_essay_2                                 0.0
project_resource_summary                        0.0
teacher_number_of_previously_posted_projects    0.0
project_is_approved                             0.0
quantity                                        0.0
price                                           0.0
dtype: float64

In [13]:
merge_df.head(2)

,school_state,project_grade_category,project_subject_categories,project_title,project_essay_1,project_essay_2,project_resource_summary,teacher_number_of_previously_posted_projects,project_is_approved,quantity,price
0,IN,Grades PreK-2,Literacy & Language,Educational Support for English Learners at Home,My students are English learners that are work...,"\""The limits of your language are the limits o...",My students need opportunities to practice beg...,0,0,3,14.59
1,IN,Grades PreK-2,Literacy & Language,Educational Support for English Learners at Home,My students are English learners that are work...,"\""The limits of your language are the limits o...",My students need opportunities to practice beg...,0,0,3,14.59

In [14]:
import re
import string
import pickle
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import nltk

# Download necessary NLTK data
nltk.download('punkt')
nltk.download('stopwords')

def clean_text(text):
    """
    Cleans the text by removing punctuation, converting to lowercase,
    tokenizing, and removing stopwords.

    Args:
        text (str): The text to clean.

    Returns:
        str: The cleaned text.
    """
    stop_words = set(stopwords.words('english'))
    # Remove punctuation and symbols
    text = re.sub(r'[^\w\s]', ' ', text)
    # Convert to lowercase
    text = text.lower()
    # Tokenize
    tokens = word_tokenize(text)
    # Remove stopwords
    tokens = [word for word in tokens if word not in stop_words]
    return ' '.join(tokens)

def preprocess_and_save_tfidf(df, text_columns, max_features=100, output_file="tfidf_model.pkl"):
    """
    Preprocesses multiple text columns, applies TF-IDF, and saves the transformer.

    Args:
        df (pd.DataFrame): The DataFrame containing the text columns.
        text_columns (list): List of text column names to preprocess.
        max_features (int): Maximum features for TF-IDF representation.
        output_file (str): File name to save the TF-IDF transformer.

    Returns:
        pd.DataFrame: DataFrame with concatenated TF-IDF features.
    """
    tfidf_features_list = []
    tfidf_transformers = {}

    for col in text_columns:
        # Clean and preprocess the column
        df[col] = df[col].fillna('').apply(clean_text)
        
        # Apply TF-IDF
        tfidf = TfidfVectorizer(max_features=max_features)
        tfidf_matrix = tfidf.fit_transform(df[col])
        
        # Store the TF-IDF transformer for the column
        tfidf_transformers[col] = tfidf
        
        # Convert to DataFrame and rename columns for clarity
        tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=[f"{col}_{word}" for word in tfidf.get_feature_names_out()])
        tfidf_features_list.append(tfidf_df)
    
    # Combine all TF-IDF features into a single DataFrame
    combined_tfidf = pd.concat(tfidf_features_list, axis=1)
    
    # Save the TF-IDF transformers
    with open(output_file, "wb") as file:
        pickle.dump(tfidf_transformers, file)
    
    return combined_tfidf



# Preprocess multiple columns and save TF-IDF transformers
text_columns = ['project_title', 'project_essay_1', 'project_essay_2', 'project_resource_summary']
tfidf_features = preprocess_and_save_tfidf(merge_df, text_columns, max_features=50, output_file="/Users/yuvraj/Desktop/portfolio project/pickle_data/tfidf_transformers.pkl")

[nltk_data] Error loading punkt: <urlopen error [Errno 54] Connection
[nltk_data]     reset by peer>
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/yuvraj/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [15]:
tfidf_features.shape

(650007, 200)

In [16]:
tfidf_features.head(2)

,project_title_art,project_title_book,project_title_books,project_title_building,project_title_class,project_title_classroom,project_title_creating,project_title_first,project_title_flexible,project_title_fun,...,project_resource_summary_seating,project_resource_summary_skills,project_resource_summary_students,project_resource_summary_supplies,project_resource_summary_technology,project_resource_summary_use,project_resource_summary_variety,project_resource_summary_work,project_resource_summary_writing,project_resource_summary_year
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.750268,0.205414,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.750268,0.205414,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
merge_df.head(2)

,school_state,project_grade_category,project_subject_categories,project_title,project_essay_1,project_essay_2,project_resource_summary,teacher_number_of_previously_posted_projects,project_is_approved,quantity,price
0,IN,Grades PreK-2,Literacy & Language,educational support english learners home,students english learners working english seco...,limits language limits world ludwig wittgenste...,students need opportunities practice beginning...,0,0,3,14.59
1,IN,Grades PreK-2,Literacy & Language,educational support english learners home,students english learners working english seco...,limits language limits world ludwig wittgenste...,students need opportunities practice beginning...,0,0,3,14.59

In [18]:
import pickle

def one_hot_encode_and_save(df, categorical_columns, output_file="one_hot_encoder.pkl"):
    """
    Converts categorical columns into one-hot encoding and saves the transformer.

    Args:
        df (pd.DataFrame): DataFrame containing the categorical columns.
        categorical_columns (list): List of column names to one-hot encode.
        output_file (str): Path to save the one-hot encoder as a pickle file.

    Returns:
        pd.DataFrame: DataFrame with one-hot encoded features.
    """
    try:
        # Perform one-hot encoding
        one_hot_encoded_df = pd.get_dummies(df[categorical_columns], drop_first=False)

        # Save the transformed data to a .pkl file
        print(f"Saving one-hot encoded data to: {output_file}")
        with open(output_file, "wb") as file:
            pickle.dump(one_hot_encoded_df, file)
        
        print("One-hot encoding saved successfully!")
        return one_hot_encoded_df
    
    except Exception as e:
        print(f"An error occurred during one-hot encoding: {e}")
        return pd.DataFrame()


# Specify categorical columns
categorical_columns = ['school_state','project_grade_category','project_subject_categories']

# One-hot encode and save to a .pkl file
one_hot_encoded_df = one_hot_encode_and_save(merge_df, categorical_columns, output_file="/Users/yuvraj/Desktop/portfolio project/pickle_data/one_hot_encoded.pkl")

# Display the resulting DataFrame
one_hot_encoded_df.head(2)

Saving one-hot encoded data to: /Users/yuvraj/Desktop/portfolio project/pickle_data/one_hot_encoded.pkl
One-hot encoding saved successfully!

,school_state_AK,school_state_AL,school_state_AR,school_state_AZ,school_state_CA,school_state_CO,school_state_CT,school_state_DC,school_state_DE,school_state_FL,...,"project_subject_categories_Music & The Arts, Applied Learning","project_subject_categories_Music & The Arts, Health & Sports","project_subject_categories_Music & The Arts, History & Civics","project_subject_categories_Music & The Arts, Special Needs","project_subject_categories_Music & The Arts, Warmth, Care & Hunger",project_subject_categories_Special Needs,"project_subject_categories_Special Needs, Health & Sports","project_subject_categories_Special Needs, Music & The Arts","project_subject_categories_Special Needs, Warmth, Care & Hunger","project_subject_categories_Warmth, Care & Hunger"
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
one_hot_encoded_df.shape

(650007, 106)

In [20]:
df = merge_df.copy()

In [21]:
df.columns

Index(['school_state', 'project_grade_category', 'project_subject_categories',
       'project_title', 'project_essay_1', 'project_essay_2',
       'project_resource_summary',
       'teacher_number_of_previously_posted_projects', 'project_is_approved',
       'quantity', 'price'],
      dtype='object')

In [22]:
df.drop(columns=['school_state', 'project_grade_category', 'project_subject_categories',
       'project_title', 'project_essay_1', 'project_essay_2',
       'project_resource_summary'],axis=1,inplace=True)

In [23]:
df.shape

(650007, 4)

In [24]:
df.head(2)

,teacher_number_of_previously_posted_projects,project_is_approved,quantity,price
0,0,0,3,14.59
1,0,0,3,14.59

In [25]:
final_df = pd.concat([df, tfidf_features, one_hot_encoded_df],axis=1)

In [26]:
final_df.shape

(650007, 310)

In [27]:
final_df.isna().sum()

teacher_number_of_previously_posted_projects                       0
project_is_approved                                                0
quantity                                                           0
price                                                              0
project_title_art                                                  0
                                                                  ..
project_subject_categories_Special Needs                           0
project_subject_categories_Special Needs, Health & Sports          0
project_subject_categories_Special Needs, Music & The Arts         0
project_subject_categories_Special Needs, Warmth, Care & Hunger    0
project_subject_categories_Warmth, Care & Hunger                   0
Length: 310, dtype: int64

In [28]:
X = final_df.drop(columns='project_is_approved',axis=1)
y = final_df['project_is_approved']

In [29]:
X.shape, y.shape

((650007, 309), (650007,))

In [30]:
import os
import pickle
from imblearn.over_sampling import SMOTE
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Step 1: Ensure the output directory exists
output_dir = "/Users/yuvraj/Desktop/portfolio project/pickle_data/"
os.makedirs(output_dir, exist_ok=True)

# Step 2: Load and split the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 3: Apply SMOTE (handle memory issues)
try:
    smote = SMOTE(random_state=42)
    X_resampled, y_resampled = smote.fit_resample(X_train, y_train)
except MemoryError:
    print("MemoryError: Reduce the dataset size or use a smaller subset of features.")
    raise

# Step 4: Scale the features
scaler = StandardScaler()
X_resampled_scaled = scaler.fit_transform(X_resampled)
X_test_scaled = scaler.transform(X_test)

# Save the StandardScaler
scaler_path = os.path.join(output_dir, "scaler.pkl")
with open(scaler_path, "wb") as scaler_file:
    pickle.dump(scaler, scaler_file)

# Step 5: Apply PCA for dimensionality reduction
pca = PCA(n_components=0.95)  # Retain 95% variance
X_resampled_pca = pca.fit_transform(X_resampled_scaled)
X_test_pca = pca.transform(X_test_scaled)

# Save the PCA model
pca_path = os.path.join(output_dir, "pca.pkl")
with open(pca_path, "wb") as pca_file:
    pickle.dump(pca, pca_file)

print(f"StandardScaler and PCA models have been saved in {output_dir}.")

StandardScaler and PCA models have been saved in /Users/yuvraj/Desktop/portfolio project/pickle_data/.

In [31]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

def evaluate_models(X_train, X_test, y_train, y_test):
    """
    Fits multiple classifiers and evaluates their performance on the training and test datasets.

    Args:
        X_train (array-like): Training feature set.
        X_test (array-like): Test feature set.
        y_train (array-like): Training target set.
        y_test (array-like): Test target set.

    Returns:
        pd.DataFrame: DataFrame containing model names and their accuracies on training and test sets.
    """
    # Initialize models
    models = {
        "Random Forest": RandomForestClassifier(random_state=42),
        "XGBoost": XGBClassifier(use_label_encoder=False, eval_metric='logloss', random_state=42),
        "SVC": SVC(random_state=42),
        "Naive Bayes": GaussianNB()
    }
    
    # List to store evaluation results
    results = []

    # Loop through each model, fit, and evaluate
    for name, model in models.items():
        # Fit the model
        model.fit(X_train, y_train)
        
        # Predict on training and test sets
        y_train_pred = model.predict(X_train)
        y_test_pred = model.predict(X_test)
        
        # Calculate accuracies
        train_accuracy = accuracy_score(y_train, y_train_pred)
        test_accuracy = accuracy_score(y_test, y_test_pred)
        
        # Append results
        results.append({"Algorithm": name, "Train Accuracy": train_accuracy, "Test Accuracy": test_accuracy})
    
    # Create a DataFrame from results
    results_df = pd.DataFrame(results)
    return results_df

In [ ]:
results_df = evaluate_models(X_resampled_pca, X_test_pca, y_resampled, y_test)